PORT=
DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=tech_challenge
JWT_SECRET=
JWT_EXPIRES_IN=1h
IS_PRODUCTION=false

AUTH_COOKIE_NAME=session
AUTH_COOKIE_MAX_AGE_MS=3600000
FRONTEND_URL=http://localhost:5173

